
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
<link rel="stylesheet" type="text/css" href="../styles.css" />
  <title>Project Page</title>
</head>

<body>

  <header>
<a href="../index.html"><h1>
Falcon Code Club
</h1></a>
<h2>
Student Name
</h2>
</header>
<a href="project1.html">
<button class="student-projects">

<span>
  Project 1
</span>
</button>
</a>
<a href="project2.html">
<button class="student-projects">

<span>
  Project 2
</span>
</button>
</a>
</body>

</html>

